@font-face {
  font-family: myFont;
  src: url("./font/KCC-Ganpan.ttf");
}

* {
  font-family: myFont, sans-serif;
}

.bg {
  background-image: url("image/rule/rule_bg.svg");
  width: 1080px;
  height: 1920px;
}

.blank {
  width: 1080px;
  height: 28px;
}

.blank {
  width: 1080px;
  height: 28px;
}

.header {
  display: flex;
  width: 100%;
  height: 192px;
}


.header_b1 {
  width: 143px;
  height: 192px;
  background-image: url(./image/test.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 18px;
  opacity: 0.2;
}

.header_b2 {
  width: 143px;
  height: 192px;
  background-image: url(./image/meals.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b3 {
  width: 143px;
  height: 192px;
  background-image: url(./image/weather.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b4 {
  width: 143px;
  height: 192px;
  background-image: url(./image/calendar.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
}

.header_b5 {
  width: 143px;
  height: 192px;
  background-image: url(./image/Finding_way.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b6 {
  width: 143px;
  height: 192px;
  background-image: url(./image/fortune.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b7 {
  width: 143px;
  height: 192px;
  background-image: url(./image/rule.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}