@font-face {
  font-family: myFont;
  src: url("./font/KCC-Ganpan.ttf");
}

* {
  font-family: myFont, sans-serif;
}

.bg {
  background-image: url("image/fortune/fortune_bg.svg");
  width: 1080px;
  height: 1920px;
}

.blank {
  width: 1080px;
  height: 28px;
}

.blank {
  width: 1080px;
  height: 28px;
}

.header {
  display: flex;
  width: 100%;
  height: 192px;
}


.header_b1 {
  width: 143px;
  height: 192px;
  background-image: url(./image/test.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 18px;
  opacity: 0.2;
}

.header_b2 {
  width: 143px;
  height: 192px;
  background-image: url(./image/meals.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b3 {
  width: 143px;
  height: 192px;
  background-image: url(./image/weather.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b4 {
  width: 143px;
  height: 192px;
  background-image: url(./image/calendar.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b5 {
  width: 143px;
  height: 192px;
  background-image: url(./image/Finding_way.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.header_b6 {
  width: 143px;
  height: 192px;
  background-image: url(./image/fortune.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
}

.header_b7 {
  width: 143px;
  height: 192px;
  background-image: url(./image/rule.svg);
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  margin-left: 6.5px;
  opacity: 0.2;
}

.cap_lump {
  background-image: url(./image/fortune/cap_lump.svg);
  width: 555px;
  height: 483px;
  object-fit: cover;
  margin-top: 330px;
  margin-left: 258px;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px) translateY(-5px);
  }

  50% {
    transform: translateX(5px) translateY(5px);
  }

  75% {
    transform: translateX(-5px) translateY(-5px);
  }

  100% {
    transform: translateX(5px) translateY(5px);
  }
}

.random {
  transition: transform 1.5s ease-in-out;
  background-image: url(./image/fortune/stick.svg);
  object-fit: fill;
  width: 55.053px;
  height: 196.235px;
  margin-top: 163px;
  margin-left: 407px;
}

.cap {
  position: relative;
  width: 132px;
  height: 132px;
  background-image: url(./image/fortune/cap_r.svg);
  margin-left: 625px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* styles.css */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-image: url(./image/fortune/memo.svg);
  margin: 400px auto;
  width: 716px;
  height: 789px;
  align-items: center;
}

.pop_header {
  font-size: 60px;
  height: 99px;
  padding-top: 275px;
}

.lucky_value {
  font-size: 50px;
  height: 99px;
}

.lucky_info {
  font-size: 30px;
  height: 40px;
}

.close_b {
  font-size: 80px;
  width: 132px;
  height: 132px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  color: rgb(192, 121, 121);
  font-weight: bold;
  margin-left: 282px;
}

